.container {
    margin: 100px auto;
    width: 300px;
    height: 300px;
    border-radius: 14px;
    background: linear-gradient(135deg, #2094FF 0%, #D377FF 97.56%);
    box-shadow: 10px 10px 30px 0px rgba(103, 0, 152, 0.14);
}

img {
    width: 40px;
    height: 40px;
}

h2 {
    font-weight: 300;
    font-family: Verdana, sans-serif;
    color: white;
    font-size: 28px;
    opacity: 0.6000000238418579;
    text-align: center;
}

.temperature {
    font-family: Verdana, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
}

.all-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
}

.content {
    display: flex;
    width: 230px;
    align-items: center;
    justify-content: space-between;
}